/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: 0 auto;
}

* {
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

header {
    height: 60px;
    background-color: #ff6900;
    color: white;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
}

header .container {
    display: flex;
}

.gender {
    width: 20%;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.logo {
    width: 60%;
    display: flex;
    justify-content: center;
}

.elements {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.gender a:nth-child(2) {
    padding: 0 10px
}

.logo img {
    height: 25px;
}

.elements a:nth-child(2) {
    padding: 0 5px
}

a {
    text-decoration: none;
    color: inherit;
}

/* MAIN */

.container .main-sections {
    display: flex;
    flex-wrap: wrap;
}

.col {
   
    width: calc(100% / 3);
    padding: 0 15px;
    height: 550px;
}

.foto {
    height: 466px;
    position: relative;
}

.card{
    font-size: 12px;
}

.foto img {
    width: 100%;
}

.description {
    margin-top: 5px;
}

 .description > .brand {
    font-size: 12px;
}

.new-price {
    color: red;
    font-weight: 600;
}

.old-price {
    text-decoration: line-through;
}

.discount {
    position: absolute;
    bottom: 25px;
}

.price-discount {
    background-color: red;
    color: white;
    padding: 5px;
}

.quality {
    background-color: green;
    color: white;
    padding: 5px;
}

.heart {
    background-color: white;
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 26px;
    padding: 0 10px;
}


.foto .principal:hover {
    display: none;
}

.foto {
    
    background-size: cover;
}

.uno {
    background-image: url('../img/1b.webp');
}

.due {
    background-image: url('../img/2b.webp');
}

.tre {
    background-image: url('../img/3b.webp');
}

.quattro {
    background-image: url('../img/4b.webp');
}

.cinque {
    background-image: url('../img/5b.webp');
}

.sei {
    background-image: url('../img/6b.webp');
}